<header class="navbar bg-base-10 bg-blue-100">
  <a class="btn btn-ghost text-l">ログイン</a>
  <a class="btn btn-ghost text-l">ログアウト</a>
  <a class="btn btn-ghost text-l">的な</a>
</header>
<% 
=begin
<% if logged_in? %>  

<% else %>

=end %>