<% if @your_cards.any? %>
  <% @your_cards.each do |card| %>
    <div class="card bg-base-100 shadow-xl mb-8">
      <div class="card-body">
        <h2 class="card-title">
          <%= link_to card.title, card_path(card) %>
        </h2>
        <div>
          <div class="flex gap-4">
            <div calss="flex">
              <div>
                【問題】
                <%= markdown_to_html(card.body) %>
              </div>
              <div>
                【解答】
                <% if card.answer.present? %>
                  <%= markdown_to_html(card.answer) %>
                <% else %>
                  <h2>解答がありません</h2>
                <% end %>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div>
              【備考】
              <% if card.remarks.present? %>
                <p><%= card.remarks %></p>
              <% else %>
                <p>備考なし</p>            
              <% end %>
            </div>
          </div>
          <div class="card-actions justify-end">
            <div class="form-control">
              <label class="label cursor-pointer">
                <span class="label-text"></span>
                <input type="checkbox" class="checkbox checkbox-primary" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>カードはまだありません</p>
<% end %>